<?xml version="1.0"?>
<robot name="peg">

  <link name="link">

    <inertial>
      <mass value="0.000313822553733336" />
      <origin xyz="3.003417307197644e-06 1.5352444282246939e-06 0.04107214780059591" />
      <inertia ixx="2.446924471846464e-08" ixy="5.0644656260923854e-15" ixz="6.483381059276548e-13"
        iyy="2.2121147088994636e-08" iyz="4.2538474866740705e-13" izz="7.6857105955281e-09" />
    </inertial>

    <visual>
      <geometry>
        <mesh filename="peg/peg_visual.obj" />
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="peg/peg_collision_0.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="peg/peg_collision_1.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="peg/peg_collision_2.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="peg/peg_collision_3.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="peg/peg_collision_4.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="peg/peg_collision_5.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="peg/peg_collision_6.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="peg/peg_collision_7.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="peg/peg_collision_8.obj" />
      </geometry>
    </collision>
  </link>

</robot>
